 *****Machine Learning Case Study  :  Used Car Price Prediction*****<br><br>
 <!-- -The price of a new car in the industry is fixed by the manufacturer   with some additional
costs incurred by the Government in the form of taxes. So, customers buying a new car can be assured of the money they invest to be worthy. But, due to the increased prices of new cars and the  financial incapability of the customers to buy them, Used Car sales are on a global increase. With the covid 19 impact in the market, we have seen lot of changes in the car market. Now some cars are in demand hence  making them costly and some are not in demand hence cheaper.<br>
-Therefore, there is an urgent need for a Used Car Price Prediction  system which effectively
determines the worthiness of the car using a  variety of features. Existing System includes a process where a seller  decides a price randomly and buyer has no idea about the car and its value in the present-day scenario.. In fact, seller also has no idea about the car’s existing value or the price he should be selling the car at. To  overcome this problem there is need to developed a model which will be highly effective to predict the actual price a car rather than the price range of a car<br> -->
***Develop a flask application to perform Used Car Price Prediction using machine learning***

*****Import  required packages*****

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [4]:
df = pd.read_csv("vehicles.csv")
df.head(50)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN
5,7222379453,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1600,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
6,7221952215,https://hudsonvalley.craigslist.org/cto/d/west...,hudson valley,https://hudsonvalley.craigslist.org,1000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
7,7220195662,https://hudsonvalley.craigslist.org/cto/d/poug...,hudson valley,https://hudsonvalley.craigslist.org,15995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ny,NaN,NaN,NaN
8,7209064557,https://medford.craigslist.org/cto/d/grants-pa...,medford-ashland,https://medford.craigslist.org,5000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,or,NaN,NaN,NaN
9,7219485069,https://erie.craigslist.org/cto/d/erie-2012-su...,erie,https://erie.craigslist.org,3000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,pa,NaN,NaN,NaN
10,7218893038,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
11,7218325704,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
12,7217788283,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
13,7217147606,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
14,7209027818,https://elpaso.craigslist.org/ctd/d/el-paso-20...,el paso,https://elpaso.craigslist.org,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,tx,NaN,NaN,NaN
15,7223509794,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,13995,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
16,7222753076,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,24999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
17,7222206015,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,21850,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
18,7220030122,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,26850,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
19,7218423006,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,11999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
20,7216672204,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,24999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
21,7215617048,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,21850,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
22,7213839225,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,26850,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
23,7208549803,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,11999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
24,7213843538,https://skagit.craigslist.org/ctd/d/bellingham...,skagit / island / SJI,https://skagit.craigslist.org,24999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
25,7212631321,https://skagit.craigslist.org/ctd/d/bellingham...,skagit / island / SJI,https://skagit.craigslist.org,21850,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN
26,7219973522,https://lacrosse.craigslist.org/cto/d/la-cross...,la crosse,https://lacrosse.craigslist.org,500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,wi,NaN,NaN,NaN
27,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,...,NaN,pickup,white,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T12:31:18-0500
28,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,...,NaN,pickup,blue,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T12:31:08-0500
29,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,...,NaN,pickup,red,https://images.craigslist.org/01212_jjirIWa0y0...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T12:31:25-0500
30,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,...,NaN,pickup,red,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-04T10:41:31-0500
31,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,...,full-size,truck,black,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,NaN,al,32.5920,-85.518900,2021-05-03T14:02:03-0500
32,7316343444,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,27990,2012.0,gmc,sierra 2500 hd extended cab,good,8 cylinders,...,NaN,pickup,black,https://images.craigslist.org/00V0V_ftJbKrOgdi...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T13:41:25-0500
33,7316304717,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,34590,2016.0,chevrolet,silverado 1500 double,good,6 cylinders,...,NaN,pickup,silver,https://images.craigslist.org/00E0E_iKN07Sh7ou...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T12:41:33-0500
34,7316285779,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,35000,2019.0,toyota,tacoma,excellent,6 cylinders,...,NaN,truck,grey,https://images.craigslist.org/00101_dXoZTH7iVm...,Selling my 2019 Toyota Tacoma TRD Off Road Dou...,NaN,al,32.6013,-85.443974,2021-05-03T12:12:59-0500
35,7316257769,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,29990,2016.0,chevrolet,colorado extended cab,good,6 cylinders,...,NaN,pickup,red,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T11:31:14-0500
36,7316133914,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,38590,2011.0,chevrolet,corvette grand sport,good,8 cylinders,...,NaN,other,red,https://images.craigslist.org/00U0U_kKYnS1LWh8...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-03T07:50:35-0500
37,7316130053,https://auburn.craigslist.org/cto/d/opelika-19...,auburn,https://auburn.craigslist.org,4500,1992.0,jeep,cherokee,excellent,6 cylinders,...,NaN,NaN,NaN,https://images.craigslist.org/01010_7EM2aot64G...,192k miles brand new TSLs 4x4 jeep xj. 4x4 wor...,NaN,al,32.6454,-85.378300,2021-05-03T07:38:05-0500
38,7315816316,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,32990,2017.0,jeep,wrangler unlimited sport,good,6 cylinders,...,NaN,other,silver,https://images.craigslist.org/00u0u_bB3krjp4B3...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T12:22:10-0500
39,7315770394,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,24590,2017.0,chevrolet,silverado 1500 regular,good,6 cylinders,...,NaN,pickup,white,https://images.craigslist.org/01515_iDoR0Hy6JS...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T10:51:08-0500
40,7315756348,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,30990,2016.0,chevrolet,colorado crew cab z71,good,NaN,...,NaN,pickup,blue,https://images.craigslist.org/00p0p_cfEoPpHPz3...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T10:21:33-0500
41,7315715960,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,27990,2014.0,toyota,tacoma access cab pickup,good,NaN,...,NaN,pickup,red,https://images.craigslist.org/00X0X_1cMDo5xqSu...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-02T08:44:35-0500
42,7315379459,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,37990,2016.0,chevrolet,camaro ss coupe 2d,good,8 cylinders,...,NaN,coupe,red,https://images.craigslist.org/00i0i_5fpVmidrep...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T12:21:51-0500
43,7315275975,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,33590,2014.0,toyota,tundra crewmax sr5 pickup,good,NaN,...,NaN,pickup,red,https://images.craigslist.org/00Q0Q_lVfMOkbtUO...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T09:21:37-0500
44,7315275942,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,30990,2019.0,ford,ranger supercrew xl pickup,good,NaN,...,NaN,pickup,black,https://images.craigslist.org/00202_4Fz2gXkV8p...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T09:21:34-0500
45,7315270785,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,27990,2018.0,nissan,frontier crew cab pro-4x,good,6 cylinders,...,NaN,pickup,silver,https://images.craigslist.org/00Q0Q_4slPoGJwoj...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-05-01T09:11:35-0500
46,7315039307,https://auburn.craigslist.org/ctd/d/auburn-999...,auburn,https://auburn.craigslist.org,0,2011.0,jeep,compass,excellent,NaN,...,full-size,SUV,NaN,https://images.craigslist.org/00R0R_5Jaj1sPpiF...,Call or text now 800-213-0336 Open 9:00-6:00pm...,NaN,al,32.5475,-85.468200,2021-04-30T16:35:11-0500
47,7314910156,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,34590,2018.0,ford,f150 super cab xl pickup 4d,good,6 cylinders,...,NaN,pickup,white,https://images.craigslist.org/00w0w_cGdvJjETZc...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-04-30T12:51:31-0500
48,7314854462,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,30590,2016.0,toyota,tacoma double cab sr5,good,NaN,...,NaN,pickup,red,https://images.craigslist.org/00505_3mrEfCl3fW...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-04-30T11:21:17-0500
49,7314811916,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,32990,2020.0,jeep,wrangler sport suv 2d,good,NaN,...,NaN,SUV,silver,https://images.craigslist.org/00w0w_c22tgqPHhy...,Carvana is the safer way to buy a car During t...,NaN,al,32.5900,-85.480000,2021-04-30T10:11:01-0500

In [5]:
# Clean cylinders column
df['cylinders'] = df['cylinders'].str.replace(' cylinders', '').str.replace('cylinder', '',regex=False)

In [6]:
# # Handle missing values
# df = df.dropna(subset=['price', 'year', 'manufacturer', 'model', 'odometer'])

In [7]:
# Convert posting_date to datetime and extract day/month
df['posting_date'] = pd.to_datetime(df['posting_date'],utc=True)
df['posting_day'] = df['posting_date'].dt.day
df['posting_month'] = df['posting_date'].dt.month
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,paint_color,image_url,description,county,state,lat,long,posting_date,posting_day,posting_month
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,az,NaN,NaN,NaT,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaT,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaT,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaT,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaT,NaN,NaN

In [8]:
#columns to keep
cols_to_keep = ['price', 'year', 'manufacturer', 'model', 'condition', 
               'cylinders', 'fuel', 'odometer', 'title_status', 'transmission',
               'drive', 'type', 'paint_color', 'state', 'posting_day','posting_month','lat','long','region']
df = df[cols_to_keep]

***EDA***

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   price          426880 non-null  int64
 1   year           425675 non-null  float64
 2   manufacturer   409234 non-null  object
 3   model          421603 non-null  object
 4   condition      252776 non-null  object
 5   cylinders      249202 non-null  object
 6   fuel           423867 non-null  object
 7   odometer       422480 non-null  float64
 8   title_status   418638 non-null  object
 9   transmission   424324 non-null  object
 10  drive          296313 non-null  object
 11  type           334022 non-null  object
 12  paint_color    296677 non-null  object
 13  state          426880 non-null  object
 14  posting_day    426812 non-null  float64
 15  posting_month  426812 non-null  float64
 16  lat            420331 non-null  float64
 17  long           420331 non-null  float64
 18  region         426880 non-null  object
dtypes: float64(6), int64(1), object(12)
memory usage: 61.9+ MB

In [11]:
df.describe()

,price,year,odometer,posting_day,posting_month,lat,long
count,4.268800e+05,425675.000000,4.224800e+05,426812.000000,426812.000000,420331.000000,420331.000000
mean,7.519903e+04,2011.235191,9.804333e+04,15.379108,4.266319,38.493940,-94.748599
std,1.218228e+07,9.452120,2.138815e+05,10.101266,0.442033,5.841533,18.365462
min,0.000000e+00,1900.000000,0.000000e+00,1.000000,4.000000,-84.122245,-159.827728
25%,5.900000e+03,2008.000000,3.770400e+04,4.000000,4.000000,34.601900,-111.939847
50%,1.395000e+04,2013.000000,8.554800e+04,16.000000,4.000000,39.150100,-88.432600
75%,2.648575e+04,2017.000000,1.335425e+05,25.000000,5.000000,42.398900,-80.832039
max,3.736929e+09,2022.000000,1.000000e+07,30.000000,5.000000,82.390818,173.885502

In [12]:
df.isna().sum()

price                 0
year               1205
manufacturer      17646
model              5277
condition        174104
cylinders        177678
fuel               3013
odometer           4400
title_status       8242
transmission       2556
drive            130567
type              92858
paint_color      130203
state                 0
posting_day          68
posting_month        68
lat                6549
long               6549
region                0
dtype: int64

In [13]:
#replacing numeric null values by taking median
num_cols= df.select_dtypes(include=['int64','float64',]).columns
df[num_cols]=df[num_cols].fillna(df[num_cols].median())

#replacinng categorical null values by taking mode
cat_cols= df.select_dtypes(include=['object']).columns 
for col in cat_cols :
    df[col]=df[col].fillna(df[col].mode()[0])

In [14]:
float_cols = ['posting_day','posting_month','year']
df[float_cols] = df[float_cols].astype(int)

In [15]:
df=df.drop_duplicates()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 422866 entries, 0 to 426879
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   price          422866 non-null  int64
 1   year           422866 non-null  int32
 2   manufacturer   422866 non-null  object
 3   model          422866 non-null  object
 4   condition      422866 non-null  object
 5   cylinders      422866 non-null  object
 6   fuel           422866 non-null  object
 7   odometer       422866 non-null  float64
 8   title_status   422866 non-null  object
 9   transmission   422866 non-null  object
 10  drive          422866 non-null  object
 11  type           422866 non-null  object
 12  paint_color    422866 non-null  object
 13  state          422866 non-null  object
 14  posting_day    422866 non-null  int32
 15  posting_month  422866 non-null  int32
 16  lat            422866 non-null  float64
 17  long           422866 non-null  float64
 18  region         422866 non-null  object
dtypes: float64(3), int32(3), int64(1), object(12)
memory usage: 59.7+ MB

In [17]:
# Remove outliers
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

df = remove_outliers(df, 'price')
df = remove_outliers(df, 'odometer')
df = remove_outliers(df, 'year')

In [18]:
# Calculate age and average mileage per year
current_year = 2025
df['age'] = current_year - df['year']
df['avg_mil'] = df['odometer'] / df['age']

In [19]:
# Classify manufacturers by country
manufacturer_mapping = {
    'American': ['harley-davidson', 'chevrolet', 'pontiac', 'ram', 'ford', 'gmc', 
                 'tesla', 'jeep', 'dodge', 'cadillac', 'chrysler', 'lincoln', 
                 'buick', 'saturn', 'mercury'],
    'Japanese': ['lexus', 'nissan', 'toyota', 'acura', 'honda', 'infiniti', 
                 'subaru', 'mitsubishi', 'datsun', 'mazda'],
    'German': ['volkswagen', 'mercedes-benz', 'bmw', 'audi', 'porsche'],
    'Italian': ['ferrari', 'fiat', 'alfa-romeo'],
    'Korean': ['kia', 'hyundai'],
    'Swedish': ['volvo'],
    'English': ['rover', 'mini', 'land rover', 'jaguar']
}

def classify_manufacturer(mfg):
    mfg = str(mfg).lower()
    for country, brands in manufacturer_mapping.items():
        if mfg in brands:
            return country
    return 'Unknown'

df['manufacturer_country'] = df['manufacturer'].apply(classify_manufacturer)

In [20]:

# Classify car type
def classify_type(car_type):
    if pd.isna(car_type):
        return 'unknown'
    car_type = car_type.lower()
    
    luxury_small = ['sedan', 'convertible', 'coupe', 'hatchback', 'other']
    luxury_large = ['suv', 'wagon']
    non_luxury_small = ['pickup', 'truck', 'offroad']
    non_luxury_large = ['van', 'mini-van', 'bus']
    
    if car_type in luxury_small:
        return 'luxury_small'
    elif car_type in luxury_large:
        return 'luxury_large'
    elif car_type in non_luxury_small:
        return 'non-luxury_small'
    elif car_type in non_luxury_large:
        return 'non-luxury_large'
    else:
        return 'unknown'

df['type_class'] = df['type'].apply(classify_type)

In [21]:
# Classify paint color
def classify_color(color):
    if pd.isna(color):
        return 'unknown'
    color = color.lower()
    
    light_colors = ['white', 'silver', 'yellow', 'orange', 'green', 'custom']
    dark_colors = ['black', 'red', 'blue', 'purple', 'grey', 'brown']
    
    if color in light_colors:
        return 'light'
    elif color in dark_colors:
        return 'dark'
    else:
        return 'unknown'

df['color_class'] = df['paint_color'].apply(classify_color)

In [22]:
df.isna().sum()

price                   0
year                    0
manufacturer            0
model                   0
condition               0
cylinders               0
fuel                    0
odometer                0
title_status            0
transmission            0
drive                   0
type                    0
paint_color             0
state                   0
posting_day             0
posting_month           0
lat                     0
long                    0
region                  0
age                     0
avg_mil                 0
manufacturer_country    0
type_class              0
color_class             0
dtype: int64

In [23]:
# Save cleaned data
df.to_csv('cleaned_vehicles.csv', index=False)
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,...,posting_day,posting_month,lat,long,region,age,avg_mil,manufacturer_country,type_class,color_class
0,6000,2013,ford,f-150,good,6,gas,85548.0,clean,automatic,...,16,4,39.1501,-88.4326,prescott,12,7129.0,American,luxury_small,light
1,11900,2013,ford,f-150,good,6,gas,85548.0,clean,automatic,...,16,4,39.1501,-88.4326,fayetteville,12,7129.0,American,luxury_small,light
2,21000,2013,ford,f-150,good,6,gas,85548.0,clean,automatic,...,16,4,39.1501,-88.4326,florida keys,12,7129.0,American,luxury_small,light
3,1500,2013,ford,f-150,good,6,gas,85548.0,clean,automatic,...,16,4,39.1501,-88.4326,worcester / central MA,12,7129.0,American,luxury_small,light
4,4900,2013,ford,f-150,good,6,gas,85548.0,clean,automatic,...,16,4,39.1501,-88.4326,greensboro,12,7129.0,American,luxury_small,light

In [24]:
cols = ['manufacturer_country','condition','type_class','model','title_status','transmission','region','manufacturer','cylinders','fuel','drive','type','color_class','state','paint_color']

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for col in cols:
    df[col]=le.fit_transform(df[col])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 395595 entries, 0 to 426879
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   price                 395595 non-null  int64
 1   year                  395595 non-null  int32
 2   manufacturer          395595 non-null  int32
 3   model                 395595 non-null  int32
 4   condition             395595 non-null  int32
 5   cylinders             395595 non-null  int32
 6   fuel                  395595 non-null  int32
 7   odometer              395595 non-null  float64
 8   title_status          395595 non-null  int32
 9   transmission          395595 non-null  int32
 10  drive                 395595 non-null  int32
 11  type                  395595 non-null  int32
 12  paint_color           395595 non-null  int32
 13  state                 395595 non-null  int32
 14  posting_day           395595 non-null  int32
 15  posting_month         395595 non-null  int32
 16  lat                   395595 non-null  float64
 17  long                  395595 non-null  float64
 18  region                395595 non-null  int32
 19  age                   395595 non-null  int32
 20  avg_mil               395595 non-null  float64
 21  manufacturer_country  395595 non-null  int32
 22  type_class            395595 non-null  int32
 23  color_class           395595 non-null  int32
dtypes: float64(4), int32(19), int64(1)
memory usage: 46.8 MB

In [27]:
df.nunique()

price                    14378
year                        28
manufacturer                41
model                    25094
condition                    6
cylinders                    8
fuel                         5
odometer                100582
title_status                 6
transmission                 3
drive                        3
type                        13
paint_color                 12
state                       51
posting_day                 30
posting_month                2
lat                      47454
long                     47891
region                     404
age                         28
avg_mil                 132160
manufacturer_country         8
type_class                   4
color_class                  2
dtype: int64

In [28]:
# Use scaling 
scale=[['year','manufacturer','age','avg_mil','model','odometer','type','paint_color','state']]
from sklearn.preprocessing import MinMaxScaler
MS=MinMaxScaler()
for scaler in scale:
    df[scaler]=MS.fit_transform(df[scaler])

In [29]:
df.head()

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,...,posting_day,posting_month,lat,long,region,age,avg_mil,manufacturer_country,type_class,color_class
0,6000,0.666667,0.3,0.453832,2,5,2,0.310502,0,0,...,16,4,39.1501,-88.4326,277,0.333333,0.102904,0,1,1
1,11900,0.666667,0.3,0.453832,2,5,2,0.310502,0,0,...,16,4,39.1501,-88.4326,105,0.333333,0.102904,0,1,1
2,21000,0.666667,0.3,0.453832,2,5,2,0.310502,0,0,...,16,4,39.1501,-88.4326,111,0.333333,0.102904,0,1,1
3,1500,0.666667,0.3,0.453832,2,5,2,0.310502,0,0,...,16,4,39.1501,-88.4326,396,0.333333,0.102904,0,1,1
4,4900,0.666667,0.3,0.453832,2,5,2,0.310502,0,0,...,16,4,39.1501,-88.4326,131,0.333333,0.102904,0,1,1

****EDA****

In [44]:
from sklearn.model_selection import train_test_split
# Select features (X) and target (y)
X = df.drop(['price','lat','long','posting_day','posting_month'],axis=1)
y = df['price']


# Simple train-test split (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True,random_state=42)

print("Training set size:", X_train.shape)
print("Test set size:", X_test.shape)

Training set size: (316476, 19)
Test set size: (79119, 19)

In [46]:
X

,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type,paint_color,state,region,age,avg_mil,manufacturer_country,type_class,color_class
0,0.666667,0.30,0.453832,2,5,2,0.310502,0,0,0,0.750000,0.909091,0.06,277,0.333333,0.102904,0,1,1
1,0.666667,0.30,0.453832,2,5,2,0.310502,0,0,0,0.750000,0.909091,0.04,105,0.333333,0.102904,0,1,1
2,0.666667,0.30,0.453832,2,5,2,0.310502,0,0,0,0.750000,0.909091,0.18,111,0.333333,0.102904,0,1,1
3,0.666667,0.30,0.453832,2,5,2,0.310502,0,0,0,0.750000,0.909091,0.38,396,0.333333,0.102904,0,1,1
4,0.666667,0.30,0.453832,2,5,2,0.310502,0,0,0,0.750000,0.909091,0.54,131,0.333333,0.102904,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426875,0.888889,0.75,0.647511,2,5,2,0.116966,0,2,1,0.750000,0.909091,1.00,397,0.111111,0.077528,4,1,1
426876,0.925926,1.00,0.785080,2,5,2,0.043660,0,2,1,0.750000,0.727273,1.00,397,0.074074,0.034727,6,1,0
426877,0.925926,0.15,0.987925,2,5,0,0.015150,0,2,0,0.333333,0.909091,1.00,397,0.074074,0.012050,0,1,1
426878,0.851852,0.55,0.425816,2,5,2,0.109294,0,2,1,0.750000,0.818182,1.00,397,0.148148,0.062094,4,1,1
426879,0.888889,0.10,0.089387,2,5,2,0.082449,0,2,2,0.250000,0.909091,1.00,397,0.111111,0.054649,2,1,1

In [49]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 395595 entries, 0 to 426879
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  395595 non-null  float64
 1   manufacturer          395595 non-null  float64
 2   model                 395595 non-null  float64
 3   condition             395595 non-null  int32
 4   cylinders             395595 non-null  int32
 5   fuel                  395595 non-null  int32
 6   odometer              395595 non-null  float64
 7   title_status          395595 non-null  int32
 8   transmission          395595 non-null  int32
 9   drive                 395595 non-null  int32
 10  type                  395595 non-null  float64
 11  paint_color           395595 non-null  float64
 12  state                 395595 non-null  float64
 13  region                395595 non-null  int32
 14  age                   395595 non-null  float64
 15  avg_mil               395595 non-null  float64
 16  manufacturer_country  395595 non-null  int32
 17  type_class            395595 non-null  int32
 18  color_class           395595 non-null  int32
dtypes: float64(9), int32(10)
memory usage: 45.3 MB

In [69]:
y

0          6000
1         11900
2         21000
3          1500
4          4900
          ...
426875    23590
426876    30590
426877    34990
426878    28990
426879    30590
Name: price, Length: 395595, dtype: int64

In [51]:
def create_lg_model():
    from sklearn.linear_model import LinearRegression
    model = LinearRegression()
    model.fit(X_train,y_train)
    return model

In [53]:
def create_xgboost_model():
    from xgboost import XGBRegressor
    model = XGBRegressor()
    model.fit(X_train, y_train)
    return model

In [55]:
def create_rf_model():
    from sklearn.ensemble import RandomForestRegressor
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    return model

In [57]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

def evaluate_model(name,model):
    y_prediction=model.predict(X_test)

    print(f"_ _{name} model evaluation _ _")
    print(f"mean_squared_error:{mean_squared_error(y_test,y_prediction)}")
    print(f"Mean_absolute_error:{mean_absolute_error(y_test,y_prediction)}")
    print(f"r2_score:{r2_score(y_test,y_prediction)}")

In [59]:
model_lg = create_lg_model()
evaluate_model('linear Regresion',model_lg)

_ _linear Regresion model evaluation _ _
mean_squared_error:103985700.24258152
Mean_absolute_error:7364.84649285954
r2_score:0.40710818153388406

In [60]:
model_xgb = create_xgboost_model()
evaluate_model('XGBoost',model_xgb)

_ _XGBoost model evaluation _ _
mean_squared_error:52674444.0
Mean_absolute_error:4655.54052734375
r2_score:0.6996678709983826

In [62]:
model_rf = create_rf_model()
evaluate_model('Random Forest',model_rf)

_ _Random Forest model evaluation _ _
mean_squared_error:31478119.155075748
Mean_absolute_error:2798.406098571168
r2_score:0.8205222519614913

In [64]:
# since RandomForest Model  Gives the best r2_score we select the Random forest model.

In [65]:
import pickle
with open('car_price_prediction.pkl' , 'wb') as file:
    pickle.dump(model_rf, file)